
ul{
  display: flex;
  justify-content: around;
  width: 100%;
}
li{
  list-style: none;
}
a{
  border:1px solid #ccc;
  margin: 10px;
  padding:4px;
}
a:hover{
  text-decoration: underline;
}


@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
